html {
    font-size: 62.5%;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

@media screen and (max-width: 480px) {

    /* スマホで見たときは"sp"のclassがついた画像が表示される */
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    #open {
        cursor: pointer;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        padding: 12px;
        margin: 16px auto 0;
        background: #c7550a;
        color: white;
        top: 30%;
    }

    /* モーダル背面 */
    #mask {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: #111;
        cursor: pointer;
        opacity: 0.5;
    }

    #mask.hidden {
        display: none;
    }

    #modal.hidden {
        display: none;
    }


    /* 日本地図DOM */
    .japan_map{
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        display: table;
        background-color: #adf6ff;
    }

    /* 日本地図画像（スマホ対応用） */
    .japan_map img{
        max-width: 100%;
        max-height: 100vh;
        height: auto;
        border: 0;
        -webkit-backface-visibility: hidden;
    }

    /* 日本地図ボタン */
    .japan_map .area_btn{
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        cursor: pointer;
        border: 3px solid #333333;
        border-radius: 5px;
        background-color: #FFF;
        padding: 0.2em auto;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }

    /* ボタン配置（使用する日本地図画像により微調整） */
    .japan_map .area_btn.area1{
        color: rgb(60, 42, 216);
        border: solid 2px rgb(60, 42, 216);
        top: 10%;
        right: 36%;
    }

    .japan_map .area_btn.area2{
        top: 40%;
        right: 17%;
    }

    .japan_map .area_btn.area3{
        top: 60%;
        right: 25%;
    }

    .japan_map .area_btn.area4{
        top: 38%;
        right: 50%;
    }

    .japan_map .area_btn.area5{
        top: 68%;
        right: 43%;
    }

    .japan_map .area_btn.area6{
        top: 75%;
        left: 26%;
    }

    #modal .area_btn.area7{
        top: 50%;
        left: 14%;
    }

    #modal .area_btn.area8{
        top: 90%;
        left: 30%;
    }

    /* オーバーレイ */
    .japan_map .area_overlay{
        display: none;
        position: absolute;
        /* z-index: 2; */
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: rgb(88, 169, 184);
        opacity: 0.5;
        cursor: pointer;
    }

    /* 選択前は表示を隠す */
    .japan_map .pref_area{
        display: none;
    }

    /* 地域毎の都道府県リスト */
    .japan_map .pref_list{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        z-index: 1;
        display: flex;
        -webkit-flex-wrap: wrap; */
        flex-wrap: wrap;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        min-height: 50%;
        background-color: rgb(241, 239, 239);
        cursor: pointer;
        z-index: 111;
        animation-name: popup;
        animation-duration: 0.5s;
    }

    @keyframes popup {
        from {
            transform: translate(-50%, 0%);/* 要素を上の枠外に移動*/
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .japan_map .area {
        min-width: 100%;
        border-bottom: 1px solid rgb(122, 120, 120);
        margin-bottom: 5px;
    }

    .prefecture {
        display: block;
        border: solid 2px #000;
        padding: 0.5rem 1rem;
        font-size: 3vmin;
        font-weight: bold;
    }

    .grid {
        display: grid;
        justify-content: space-around;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
    }
}










@media screen and (min-width: 481px) {

    .sp {
        display: none;
    }
    .pc {
        display: block;
    }

    #open {
        cursor: pointer;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        padding: 12px;
        margin: 16px auto 0;
        background: #c7550a;
        color: white;
        top: 30%;
    }

    /* モーダル背面 */
    #mask {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: #111;
        cursor: pointer;
        opacity: 0.5;
    }

    #mask.hidden {
        display: none;
    }

    #modal.hidden {
        display: none;
    }


    /* 日本地図DOM */
    .japan_map{
        position: relative;
        box-sizing: border-box;
        /* height: 500px;
        width: 500px; */
        margin: 0 auto;
        display: table;
        background-color: #adf6ff;
        /* background-image: url(./japan-map-pc-square.png); */
    }

    /* 日本地図画像（スマホ対応用） */
    .japan_map img{
        max-width: 100%;
        max-height: 90vh;
        height: auto;
        border: 0;
        -webkit-backface-visibility: hidden;
    }

    /* 日本地図ボタン */
    .japan_map .area_btn{
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        cursor: pointer;
        border: 3px solid #333333;
        border-radius: 5px;
        background-color: #FFF;
        padding: 0.2em auto;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }

    /* ボタン配置（使用する日本地図画像により微調整） */
    .japan_map .area_btn.area1{
        color: rgb(60, 42, 216);
        border: solid 2px rgb(60, 42, 216);
        top: 20%;
        right: 36%;
    }

    .japan_map .area_btn.area2{
        top: 40%;
        right: 17%;
    }

    .japan_map .area_btn.area3{
        top: 60%;
        right: 25%;
    }

    .japan_map .area_btn.area4{
        top: 50%;
        right: 43%;
    }

    .japan_map .area_btn.area5{
        top: 70%;
        right: 40%;
    }

    .japan_map .area_btn.area6{
        top: 75%;
        left: 40%;
    }

    #modal .area_btn.area7{
        top: 60%;
        left: 20%;
    }

    #modal .area_btn.area8{
        top: 70%;
        left: 2%;
    }

    /* オーバーレイ */
    .japan_map .area_overlay{
        display: none;
        position: absolute;
        /* z-index: 2; */
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: rgb(88, 169, 184);
        opacity: 0.5;
        cursor: pointer;
    }

    /* 選択前は表示を隠す */
    .japan_map .pref_area{
        display: none;
    }

    /* 地域毎の都道府県リスト */
    .japan_map .pref_list{
        position: absolute;
        background-color: rgb(241, 239, 239);
        box-sizing: border-box;
        width: 50%;
        top: 0%;
        left: 0%;
        z-index: 1;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        min-height: 50%;
        cursor: pointer;
        z-index: 111;
        animation-name: popup;
        animation-duration: 0.5s;
    }

    @keyframes popup {
        from {
            transform: translate(-50%, 0%);/* 要素を上の枠外に移動*/
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .japan_map .area {
        min-width: 100%;
        border-bottom: 1px solid rgb(122, 120, 120);
        margin-bottom: 5px;
    }

    .prefecture {
        display: block;
        border: solid 2px #000;
        padding: 0.5rem 1rem;
        font-size: 3vmin;
        font-weight: bold;
    }

    .grid {
        display: grid;
        justify-content: space-around;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
    }
}









@media screen and (min-width: 1080px) {

    .sp {
        display: none;
    }
    .pc {
        display: block;
    }

    #open {
        cursor: pointer;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-align: center;
        padding: 12px;
        margin: 16px auto 0;
        background: #c7550a;
        color: white;
        top: 30%;
    }

    /* モーダル背面 */
    #mask {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: #111;
        cursor: pointer;
        opacity: 0.5;
    }

    #mask.hidden {
        display: none;
    }

    #modal.hidden {
        display: none;
    }


    /* 日本地図DOM */
    .japan_map{
        position: relative;
        box-sizing: border-box;
        /* height: 500px;
        width: 500px; */
        margin: 0 auto;
        display: table;
        background-color: #adf6ff;
        /* background-image: url(./japan-map-pc-square.png); */
    }

    /* 日本地図画像（スマホ対応用） */
    .japan_map img{
        max-width: 100%;
        max-height: 100vh;
        height: auto;
        border: 0;
        -webkit-backface-visibility: hidden;
    }

    /* 日本地図ボタン */
    .japan_map .area_btn{
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        cursor: pointer;
        border: 3px solid #333333;
        border-radius: 5px;
        background-color: #FFF;
        padding: 0.2em auto;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }

    /* ボタン配置（使用する日本地図画像により微調整） */
    .japan_map .area_btn.area1{
        /* color: rgb(60, 42, 216);
        border: solid 2px rgb(60, 42, 216); */
        top: 20%;
        right: 36%;
        min-width: 1.5rem;
    }

    .japan_map .area_btn.area2{
        top: 40%;
        right: 17%;
    }

    .japan_map .area_btn.area3{
        top: 60%;
        right: 25%;
    }

    .japan_map .area_btn.area4{
        top: 50%;
        right: 43%;
    }

    .japan_map .area_btn.area5{
        top: 70%;
        right: 40%;
    }

    .japan_map .area_btn.area6{
        top: 75%;
        left: 40%;
    }

    #modal .area_btn.area7{
        top: 60%;
        left: 30%;
    }

    #modal .area_btn.area8{
        top: 70%;
        left: 5%;
    }

    /* オーバーレイ */
    .japan_map .area_overlay{
        display: none;
        position: absolute;
        /* z-index: 2; */
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: rgb(88, 169, 184);
        opacity: 0.5;
        cursor: pointer;
    }

    /* 選択前は表示を隠す */
    .japan_map .pref_area{
        display: none;
    }

    /* 地域毎の都道府県リスト */
    .japan_map .pref_list{
        position: absolute;
        top: 0%;
        left: 0%;
        /* top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%); */
        z-index: 1;
        /* display: -webkit-flex; */
        /* display: flex;
        -webkit-flex-wrap: wrap; */
        flex-wrap: wrap;
        /* width: 90%; */


        box-sizing: border-box;
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;


        width: 50%;
        min-height: 50%;
        background-color: rgb(241, 239, 239);
        
        cursor: pointer;
        z-index: 111;
        animation-name: popup;
        animation-duration: 0.5s;
    }

    @keyframes popup {
        from {
            transform: translate(-50%, 0%);/* 要素を上の枠外に移動*/
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .japan_map .area {
        min-width: 100%;
        border-bottom: 1px solid rgb(122, 120, 120);
        margin-bottom: 5px;
    }

    .prefecture {
        display: block;
        border: solid 2px #000;
        padding: 0.5rem 1rem;
        font-size: 3vmin;
        font-weight: bold;
    }

    .grid {
        display: grid;
        justify-content: space-around;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
    }
}

@media screen and (max-width: 480px){
    /* スマホユーザー向けにボタン文字サイズを調整 */
    .japan_map .area_btn{
        font-size: 4vw;
    }
}
