body {
    width: 100%;
    font-size: 16px;
    height: 1300px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

#open {
    cursor: pointer;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    margin: 16px auto 0;
    background: #4caf50;
    color: white;
    position: relative;
    top: 30%;
}

.header-map {
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
}

/* モーダル背面 */
#mask {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    cursor: pointer;
    opacity: 0.5;
    z-index: 11;
}

#modal p {
    margin: 0 0 20px;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    display: none;
}



/* 日本地図ボタン */
#modal .area_btn{
    position: absolute;
    box-sizing: border-box;
    background-color: #FFF;
    font-size: 1.5rem;
    padding: 0 0.7rem;
    border: 3px solid #333333;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    z-index: 11;
}



/* 選択前は表示を隠す */
#modal .pref_area{
    display: none;
}

/* 地域毎の都道府県リスト */
#modal .pref_list{
    position: absolute;
    width: 50%;
    background-color:  #FFF;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    transition: .5s;
    z-index: 1;
}

/* #modal .choose {
    min-width: 100%;
} */

#modal .area {
    min-width: 100%;
}

.prefecture {
    display: block;
    border: solid 2px #000;
    padding: 0.5rem 1rem;
    font-size: 3vmin;
    font-weight: bold;
}

.grid {
    display: grid;
    justify-content: space-around;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 480px) {
    /* スマホで見たときは"sp"のclassがついた画像が表示される */
    .sp {
        display: block;
        position: relative;
    }
    .pc {
        display: none;
        position: relative;
    }

    /* スマホユーザー向けにボタン文字サイズを調整 */
    #modal .area_btn{
        font-size: 1vw;
    }

    #modal {
        position: fixed;
        background-color: #fff;
        color: #555;
        border-radius: 4px;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        margin: 0 auto;
        z-index: 11;
        /* animation-name: popup;
        animation-duration: 1.1s; */
    }

    #modal .area {
        min-width: 100%;
    }
    /* @keyframes popup {
        from {
            transform: translate(-100%、0);
            opacity: 0;
        } to {
            opacity: 1;
        }
    } */

    /* 日本地図画像（スマホ対応用） */
    #modal img{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        border: 0;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
    }

    /* ボタン配置（使用する日本地図画像により微調整） */
    #modal .area_btn.area1{
        color: rgb(60, 42, 216);
        border: solid 2px rgb(60, 42, 216);
        top: 10%;
        left: 40%;
        /* width: 15%; */
    }

    #modal .area_btn.area2{
        top: 30%;
        right: 13%;
        /* width: 10%; */
    }

    #modal .area_btn.area3{
        top: 50%;
        right: 10%;
        /* width: 13%; */
    }

    #modal .area_btn.area4{
        top: 35%;
        left: 40%;
        /* width: 13%; */
    }

    #modal .area_btn.area5{
        top: 70%;
        right: 40%;
        /* width: 13%; */
    }
    
    #modal .area_btn.area{
        top: 75%;
        left: 30%;
        /* width: 15%; */
    }

    #modal .area_btn.area7{
        top: 50%;
        left: 10%;
        /* width: 13%; */
    }

    #modal .area_btn.area8{
        top: 87%;
        left: 25%;
        /* width: 25%; */
    }

    /* オーバーレイ */
    #modal .area_overlay{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: rgb(88, 169, 184);
        opacity: 0.5;
        cursor: pointer;
        z-index: 1;
    }

    #modal .pref_list{
        width: 100%;
        min-height: 80%;
        background-color: rgb(241, 239, 239);
        border: 1px solid #CCC;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 11;
        animation-name: popup;
        animation-duration: 0.5s;
    }

    @keyframes popup {
        from {
            transform: translate(-50%, -200%);/* 要素を上の枠外に移動*/
            opacity: 0;
        }
        to {
            transform: translate(-50%, -50%);/* 要素を元の位置に移動*/
            opacity: 1;
        }
    }
}
















@media screen and (min-width: 748px) {
    .sp {
        display: none;
    }
    .pc {
        display: block;
    }

    .prefecture {
        font-weight: bold;
        font-size: 1rem;
        padding: 1rem;
    }

    #modal {
        position: fixed;
        background-color: #fff;
        color: #555;
        border-radius: 4px;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        margin: 0 auto;
        z-index: 11;
        /* animation-name: popup;
        animation-duration: 1.1s; */
    }

    /* 日本地図画像（スマホ対応用） */
    #modal img{
        box-sizing: border-box;
        width : 100vw; 
        height: 70vh;
        border: 0;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
    }

    #modal .area {
        text-align: left;
        padding: 10px;
        min-width: 100%;

    }

    /* @keyframes popup {
        from {
            transform: translate(-100%、0);
            opacity: 0;
        } to {
            opacity: 1;
        }
    } */

    /* ボタン配置（使用する日本地図画像により微調整） */
    #modal .area_btn.area1{
        color: rgb(60, 42, 216);
        border: solid 2px rgb(60, 42, 216);
        top: 15%;
        right: 35%;
        /* width: 15%; */
    }

    #modal .area_btn.area2{
        top: 40%;
        right: 13%;
        /* width: 10%; */
    }

    #modal .area_btn.area3{
        top: 65%;
        right: 20%;
        /* width: 13%; */
    }

    #modal .area_btn.area4{
        top: 50%;
        right: 45%;
        /* width: 13%; */
    }

    #modal .area_btn.area5{
        top: 80%;
        right: 44%;
        /* width: 13%; */
    }

    #modal .area_btn.area6{
        top: 87%;
        left: 35%;
        /* width: 13%; */
    }

    #modal .area_btn.area7{
        top: 62%;
        left: 30%;
        /* width: 15%; */
    }

    #modal .area_btn.area8{
        top: 73%;
        left: 3%;
        /* width: 25%; */
    }

    /* オーバーレイ */
    #modal .area_overlay{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-color: rgb(88, 169, 184);
        opacity: 0.5;
        cursor: pointer;
        z-index: 1;
    }

    #modal .pref_list{
        width: 50%;
        min-height: 50%;
        background-color: rgb(241, 239, 239);
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        top: 0%;
        left: 0%;
        cursor: pointer;
        z-index: 11;
        animation-name: popup;
        animation-duration: 0.5s;
    }

    @keyframes popup {
        from {
            transform: translate(-50%, 0%);/* 要素を上の枠外に移動*/
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

