@use "mixin" as mix;
@use "variables" as var;

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

/**
  * SPレスポンシブ
  */
@media screen and (max-width: 480px) {
  #open {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    margin: 16px auto 0;
    background: var.$mainColor;
    color: white;
    top: 30%;
    cursor: pointer;

    .hidden {
      display: none;
    }
  }

  /* モーダル背面 */
  #mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.5;
    z-index: -1;
    cursor: pointer;

    .hidden {
      display: none;
    }
  }

  /* 日本地図DOM */
  #japan_map {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 1;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 100%;
    background-color: #adf6ff;

    .map-header {
      background: var.$mainColor;
      display: flex;
      justify-content: space-between;
      z-index: 1;

      .close {
      }
    }

    .guidance {
      text-align: center;
      background: #fff;
    }

    .map {
      position: relative;
      margin: 0 auto;
      max-width: 680px;

      /* スマホで見たときは"sp"のclassがついた画像が表示される */
      .sp {
        width: 100%;
      }

      .pc {
        display: none;
      }

      /* 日本地図ボタン */
      /* ボタン配置（使用する日本地図画像により微調整） */
      .area1 {
        position: absolute;
        color: var.$hokkaidoColor;
        border: solid 3px var.$hokkaidoColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 5%;
        right: 40%;
        cursor: pointer;
      }

      .area2 {
        position: absolute;
        color: var.$tohokuColor;
        border: solid 3px var.$tohokuColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 30%;
        right: 8%;
        cursor: pointer;
      }

      .area3 {
        position: absolute;
        color: var.$kantoColor;
        border: solid 3px var.$kantoColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 53%;
        right: 14%;
        cursor: pointer;
      }

      .area4 {
        position: absolute;
        color: var.$chubuColor;
        border: solid 3px var.$chubuColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 34%;
        left: 34%;
        cursor: pointer;
      }

      .area5 {
        position: absolute;
        color: var.$kinkiColor;
        border: solid 3px var.$kinkiColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 66%;
        right: 40%;
        cursor: pointer;
      }

      .area6 {
        position: absolute;
        color: var.$shikokuColor;
        border: solid 3px var.$shikokuColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 75%;
        left: 26%;
        cursor: pointer;
      }

      .area7 {
        position: absolute;
        color: var.$chugokuColor;
        border: solid 3px var.$chugokuColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 46%;
        left: 4%;
        cursor: pointer;
      }

      .area8 {
        position: absolute;
        color: var.$kyusyuOkinawaColor;
        border: solid 3px var.$kyusyuOkinawaColor;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 90%;
        left: 30%;
        cursor: pointer;
      }
    }

    /* オーバーレイ */
    .area_overlay {
      display: none;
      position: absolute;
      /* z-index: 2; */
      top: 0%;
      left: 0%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-color: rgb(88, 169, 184);
      opacity: 0.5;
      cursor: pointer;
    }

    /* 選択前は表示を隠す */
    .pref_area {
      display: none;

      /* 地域毎の都道府県リスト */
      .pref_list {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        z-index: 1;
        flex-wrap: wrap;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        min-height: 50%;
        background-color: rgb(241, 239, 239);
        cursor: pointer;
        z-index: 111;
        animation-name: popup;
        animation-duration: 0.2s;
      }

      @keyframes popup {
        from {
          transform: translate(-50%, -100%); /* 要素を上の枠外に移動*/
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .area {
        min-width: 100%;
        border-bottom: 1px solid rgb(122, 120, 120);
        margin-bottom: 5px;
      }

      .grid {
        display: grid;
        justify-content: space-around;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 5px 0;

        .prefecture {
          display: block;
          border: solid 2px #000;
          padding: 0.5rem 1rem;
          font-size: 2.5vmin;
          font-weight: bold;
        }
      }
    }
  }
}

/**
  * タブレット端末レスポンシブ
  */
@media screen and (min-width: 481px) {
  #open {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    margin: 16px auto 0;
    background: var.$mainColor;
    color: white;
    top: 30%;
    cursor: pointer;
  }

  /* モーダル背面 */
  #mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.5;
    cursor: pointer;
  }

  /* 日本地図DOM */
  #japan_map {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 1;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 100%;
    background-color: #adf6ff;

    .map-header {
      display: none;
    }

    .guidance {
      display: none;
    }

    .map {
      position: relative;
      margin: 0 auto;
      max-width: 680px;

      .sp {
        display: none;
      }
      .pc {
        width: 100%;
      }
    }

    /* ボタン配置（使用する日本地図画像により微調整） */
    .area1 {
      position: absolute;
      color: var.$hokkaidoColor;
      border: solid 3px var.$hokkaidoColor;
      z-index: 1;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 5%;
      right: 32%;
      cursor: pointer;
    }

    .area2 {
      position: absolute;
      color: var.$tohokuColor;
      border: solid 3px var.$tohokuColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 40%;
      right: 6%;
    }

    .area3 {
      position: absolute;
      color: var.$kantoColor;
      border: solid 3px var.$kantoColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 60%;
      right: 10%;
    }

    .area4 {
      position: absolute;
      color: var.$chubuColor;
      border: solid 3px var.$chubuColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 42%;
      right: 38%;
    }

    .area5 {
      position: absolute;
      color: var.$kinkiColor;
      border: solid 3px var.$kinkiColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 80%;
      right: 32%;
    }

    .area6 {
      position: absolute;
      color: var.$shikokuColor;
      border: solid 3px var.$shikokuColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 86%;
      left: 36%;
    }

    .area7 {
      position: absolute;
      color: var.$chugokuColor;
      border: solid 3px var.$chugokuColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 54%;
      left: 22%;
    }

    .area8 {
      position: absolute;
      color: var.$kyusyuOkinawaColor;
      border: solid 3px var.$kyusyuOkinawaColor;
      z-index: 1;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      top: 76%;
      left: 2%;
      font-size: 0.8rem;
    }

    /* オーバーレイ */
    .area_overlay {
      display: none;
      position: absolute;
      /* z-index: 2; */
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-color: rgb(88, 169, 184);
      opacity: 0.5;
      cursor: pointer;
    }

    /* 選択前は表示を隠す */
    .pref_area {
      display: none;

      /* 地域毎の都道府県リスト */
      .pref_list {
        position: absolute;
        background-color: rgb(241, 239, 239);
        box-sizing: border-box;
        width: 50%;
        height: 50%;
        top: 0%;
        left: 0%;
        z-index: 1;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        min-height: 50%;
        cursor: pointer;
        z-index: 111;
        animation-name: popup;
        animation-duration: 0.5s;
      }

      @keyframes popup {
        from {
          transform: translate(-50%, 0%); /* 要素を上の枠外に移動*/
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .area {
        min-width: 100%;
        font-size: 2rem;
        border-bottom: 1px solid rgb(122, 120, 120);
        margin-bottom: 5px;
      }

      .grid {
        display: grid;
        justify-content: space-around;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;

        .prefecture {
          display: block;
          border: solid 2px #000;
          padding: 0.5rem 1rem;
          font-size: 2.2vh;
          font-weight: bold;
        }
      }
    }
  }
}

/**
  * PCレスポンシブ
  */
@media screen and (min-width: 1080px) {
  #open {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    margin: 16px auto 0;
    background: var.$mainColor;
    color: white;
    top: 30%;
    cursor: pointer;
  }

  /* モーダル背面 */
  #mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.5;
    cursor: pointer;
  }

  /* 日本地図DOM */
  #japan_map {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 100%;
    background-color: #adf6ff;

    .map-header {
      display: none;
    }

    .guidance {
      display: none;
    }

    .map {
      position: relative;
      max-width: 680px;
      margin: 0 auto;

      .sp {
        display: none;
      }

      .pc {
        width: 100%;
      }

      /* ボタン配置（使用する日本地図画像により微調整） */
      .area1 {
        position: absolute;
        color: var.$hokkaidoColor;
        border: solid 3px var.$hokkaidoColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 5%;
        right: 32%;
      }

      .area2 {
        position: absolute;
        color: var.$tohokuColor;
        border: solid 3px var.$tohokuColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 40%;
        right: 6%;
      }

      .area3 {
        position: absolute;
        color: var.$kantoColor;
        border: solid 3px var.$kantoColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 60%;
        right: 10%;
      }

      .area4 {
        position: absolute;
        color: var.$chubuColor;
        border: solid 3px var.$chubuColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 42%;
        right: 38%;
      }

      .area5 {
        position: absolute;
        color: var.$kinkiColor;
        border: solid 3px var.$kinkiColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 80%;
        right: 32%;
      }

      .area6 {
        position: absolute;
        color: var.$shikokuColor;
        border: solid 3px var.$shikokuColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 86%;
        left: 36%;
      }

      .area7 {
        position: absolute;
        color: var.$chugokuColor;
        border: solid 3px var.$chugokuColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 54%;
        left: 22%;
      }

      .area8 {
        position: absolute;
        color: var.$kyusyuOkinawaColor;
        border: solid 3px var.$kyusyuOkinawaColor;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        top: 76%;
        left: 2%;
        font-size: 1rem;
      }
    }

    /* オーバーレイ */
    .area_overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-color: rgb(88, 169, 184);
      opacity: 0.5;
      cursor: pointer;
    }

    /* 選択前は表示を隠す */
    .pref_area {
      display: none;
      height: 100%;

      /* 地域毎の都道府県リスト */
      .pref_list {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 1;
        flex-wrap: wrap;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        padding: 0.5em;
        width: 50%;
        max-height: 50%;
        background-color: rgb(241, 239, 239);
        cursor: pointer;
        z-index: 111;
        animation-name: popup;
        animation-duration: 0.5s;

        @keyframes popup {
          from {
            transform: translate(-50%, 0%); /* 要素を上の枠外に移動*/
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .area {
          min-width: 100%;
          font-size: 2rem;
          border-bottom: 1px solid rgb(122, 120, 120);
          margin-bottom: 5px;
        }

        .grid {
          display: grid;
          justify-content: space-around;
          gap: 1rem;
          grid-template-columns: 1fr 1fr;
          padding: 5px 0;

          .prefecture {
            display: block;
            border: solid 2px #000;
            padding: 0.5rem 1rem;
            font-size: 2.2vh;
            font-weight: bold;
          }
        }
      }
    }
  }
}
